# Auto detect text files and perform LF normalization
* text=auto

//Aquí iré subiendo todos los ejercicios propuestos en el curso de Udemy, como parte de mi mentoría.

// 33.07 Fancy String

//If I give you a string "abc", I wanto you to print out 3abc3
//If I give you a string "y", I wanto you to print out 1y1
//If I give you a string "44", I wanto you to print out 2442
//If I give you a string "-----", I wanto you to print out 5-----5

var firstString = "abc";
var secondString = "y";
var thirdString = "44";
var forthString = "-----";

console.log(firstString.length + firstString + firstString.length);
console.log(secondString.length + secondString + secondString.length);
console.log(thirdString.length + thirdString + thirdString.length);
console.log(forthString.length + forthString + forthString.length);

// 33.08 Greeting me

//Create a program how greet me. Tells me how long my name is.
//The program should maintain my first name and my last name.

var name = "Caro";
var surname = "Chan";

console.log("Hi " + name + " " + surname + "!");
console.log("Your name length is " +  name.length);


